@charset "utf-8";
/* CSS Document */
.fondo_publi {
	height:18% !important;
	/*border:1px black solid;*/
}
.fondo_publi_vacio {
	height:18% !important;
	/*border:1px #000 solid;*/
}
.imagen_redondeada {
	width: 80% !important;
	height:76% !important;
	margin-top: 13.5%;
	margin-left: 10%;
    border-radius: 50%;
}
.imagenPubliVacia {
	width:99% !important;
}


